body {
    background-color: #555555;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

header {
    background-color: black;
    padding: 40px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 3.5rem;
    letter-spacing: 8px;
}

.main-container {
    max-width: 1300px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
    padding: 0 40px;
}

/* Caja del Input */
.input-box {
    background-color: #333;
    border-radius: 15px;
    height: 150px; /* Altura fija para el rectángulo gris */
    display: flex; /* Usamos flex para centrar contenido */
    justify-content: center; 
    align-items: center; 
    padding: 0 40px;
}

/* Inputs especiales (Asignado a / Fecha límite) */
#asignado-a,
#fecha-limite {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.4rem;
    text-align: center;
}


#Nueva-Tarea {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.6rem;
    text-align: center;
}

/* Caja de la Lista */
.list-box {
    background-color: #333;
    border: 3px solid #8a2be2;
    border-radius: 15px;
    min-height: 500px;
    padding: 40px;
}

/* Botones Laterales */
.button-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
}

.btn {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.btn-green { background-color: #8ce663; color: white; }
.btn-yellow { background-color: #ffde59; color: #333; display: none; } 
.btn-red { background-color: #ff3131; color: white; display: none; }    

/* Estilo de la lista y selección */
#lista-tareas {
    list-style: none;
    padding: 0;
    font-size: 1.6rem;
}

#lista-tareas li {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#lista-tareas li:hover { background: #444; }

.selected {
    background-color: #4c4c4c !important;
    border-left: 8px solid #8ce663;
}